<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Images</th>

        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of fetchdata">
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td>{{item.password}}</td>
        <td><img src="https://localhost:7061/images/{{item.image}}" alt="" srcset="" height="100" width="100" class="rounded"></td>


        <td><button class="btn btn-success mx-2" (click)="edit(item)">Edit</button>
            <button class="btn btn-danger" (click)="delete(item.id)">Delete</button>
        </td>
      </tr>
     
    </tbody>
  </table>



  <form method="post" *ngIf="selected" (ngSubmit)="editform()">
    <h1>Update Form</h1>
    <input type="text" [(ngModel)]="selected.name" name="name">
    <input type="email" [(ngModel)]="selected.email" name="email">
    <input type="password" [(ngModel)]="selected.password" name="password">
    <button type="submit"class="btn btn-info">Update</button>
  </form>